.ColumnSelectorClass, #ColumnSelectorSource, #ColumnSelectorDest {
    height: 100%;
    width: 100%;
    min-height: 2px;
}

/** Dex stylings for buttons on top of bootstrap */
.dex-xs-btn {
    padding: .25rem .4rem;
    font-size: .9rem;
    margin-top: .1rem;
    line-height: 1;
    border-radius: .4rem;
    margin-top: 0.1rem !important;
}

.dex-xs-alert {
    margin-bottom: .2rem;
    padding: 0.15rem .1rem;
    font-weight: bold;
    font-variant: all-small-caps;
}

/** Components, by default, size to their parent container */
.dex-cmp {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}

.dex-label {
    font-size: small;
    vertical-align: middle;
    margin: 1px;
    user-select: none;
}

.dex-control-table {
    width: 100%;
    border-collapse: collapse;
}

.dex-control-table .left-column {
    width: 35%;
    display: table-cell;
}
.dex-control-table .right-column {
    width: 65%;
    display: table-cell;
}

.dex-string-input {
    width: 100%;
    line-height: 1.6;
    padding: .1rem .1rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-size: 1.4em;
}

.dex-max-width {
    width: 100%;
}

/** Dex headings **/
.dex-h1, .dex-h2, .dex-h3, .dex-h4, .dex-h5, .dex-h6 {
    margin-left: 2px;
    margin-bottom: 1px;
    margin-right: 0px;
    margin-top: 1px;

    padding: 0.15rem 0.15rem;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.dex-h1 {
    font-size: 1.4em;
    color: #fff;
    background-color: steelblue;
    border-color: steelblue;
}

.dex-h1:hover {
    color: yellow;
    background-color: steelblue;
    border-color: steelblue;
}

.dex-h2 {
    font-size: 1.2em;
    color: #fff;
    background-color: #425154;
    border-color: #425154;
}

.dex-h2:hover {
    color: yellow;
    background-color: #303f42;
    border-color: #303f42;
}

.dex-h3 {
    font-size: 1.1em;
    color: #fff;
    background-color: #93B7BE;
    border-color: #93B7BE;
}

.dex-h3:hover {
    color: yellow;
    background-color: #93B7BE;
    border-color: #93B7BE;
}

.dex-h4 {
    font-size: 1.0em;
    color: #fff;
    background-color: darkgrey;
    border-color: darkgrey;
}

.dex-h4:hover {
    color: yellow;
    background-color: darkgrey;
    border-color: darkgrey;
}

.dex-h5 {
    font-size: 1.0em;
    color: #000;
    background-color: lightblue;
    border-color: lightblue;
}

.dex-h5:hover {
    color: red;
    background-color: lightblue;
    border-color: lightblue;
}


/* Toggle button CSS */
.switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 16px;
}

.slider.round:before {
    border-radius: 50%;
}
/* End of Toggle button CSS */